@charset "utf-8";

/*For desktop*/

table{
    width: 100%;
    border-spacing: 0px;
}

td, th {
    text-align: left;
    padding: 8px;
}

.top{
    border: none;
    font-weight: bold;
}

#first-row{
    background-color: #E8EAED;
}

.year {
    font-weight: bold;
    border-bottom: 1px solid #DADCE0;
}
